{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
	
{% block content %}

  <h2><p >{{ user.username }}</p></h2>
  {% if check %}
    <p >Utwór jest już zawarty w liście</p>
  {% endif %}
  {% for list in lists %}
  <p >{{ list.NazwaL}}</p>

  <a href="/dodaj/{{ list.pk }}/{{ sid }}">Dodaj do listy</a>

  {% endfor %}
  <br><br><br><br><br><br><br><br><br><br><br>

  <h2>Nowa lista</h2>
  <form method="get" action="/nowa_lista/{{ sid }}/">
    <input type="text" class="form-control" name="create" size="14" maxlength="120"><br>
    <button type="submit" class="btn btn-default">Stwórz nową listę</button>
</form>

{% endblock content %}