{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
	
{% block content %}
  <title>Utwor</title>


  <body>
        
        <h2><p >{{ user.username }}</p></h2>
        
        {% for list in lists %}
        <p >{{ list.NazwaL}}</p>

        <form method="get" action="/dodaj_do_listy">
<button  name = "ddj" type="submit" type="submit" class="btn btn-default" value ="{{title}},{{list}}">Dodaj do listy</button></form>
        {% endfor %}
        <br><br><br><br><br><br><br><br><br><br><br>

        <h2>Nowa lista</h2>
        <form method="get" action="/nowa_lista">
<input type="text" class="form-control" name="create" size="14" maxlength="120"><br><button   type="submit" class="btn btn-default">Stwórz nową listę</button></form>




  </body>


    


{% endblock content %}