{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
	
{% block content %}
  <title>Logowanie</title>
   <h2>Logowanie</h2>


  <body>
        <h1>Login to Epsilon</h1>

        <form id="login_form" method="post" action="/logowanie">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>


    <label >Nie masz jeszcze konta ?</label>
      <a href="/register/">Register Here</a>


{% endblock content %}