{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
	
{% block content %}
  <title>Logowanie</title>


  <body>
        <div id="logowanie">
         <h1>Login to Epsilon</h1>
        <form id="login_form" method="post" action="/logowanie">
            {% csrf_token %}
            <br />
            Username:<input type="text" name="username" value="" size="50" />
            <br />
            Password:<input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Zaloguj się" />
        </form>


        <label >Nie masz jeszcze konta ?</label>
      <a href="/register/">Zarejestruj się tutaj</a>
        </div>

        
        
    </body>


    


{% endblock content %}