{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
	
{% block content %}

   <h2>Logowanie</h2>


  <dir></dir>
  <label class="inputData" for="login">E-mail:</label>
  <input id="login" name="login" class="correct" type="text">
  <dir></dir>
  <label class="inputData" for="password">Hasło:</label>
  <input id="password" name="password" type="password">

   <form action="" method="post">{% csrf_token %}
    {{form.as_p}}   <input type="submit" value="Zaloguj" />
    </form>
    <label >Nie masz jeszcze konta ?</label>
      <a href="/register/">Register Here</a>


{% endblock content %}