{% extends 'Comment/base.html' %}

{% block title %}Epsilon Stream{% endblock title %}

{% block content %}
  <div>
  {% if user.is_authenticated %}
<h1>Witaj {{ user.username }}!</h1>
{% else %}

{% endif %}

<div>
    <ul>

    <h3 id = "fortitle">Rekomendowane</h3>

      {% for utwor in utwors %}
        {% if forloop.counter < 6 %}
      	<div id = "diss">
          <img src = {{utwor.imgurl}}  style="width:128px;height:128px";></img>
          <h2><a href="">{{ utwor.title }}</a></h2>
          <p>Autor: {{ utwor.author }}</p>
          <p>Created: {{ utwor.created_date }}</p>
          {% if utwor.song %}
          <button href "a" type="button" class="playSong" onclick="playSong('{{ utwor.song.url }}')">Graj</button>
          </div>

          {% endif %}
          {% endif %}

      {% endfor %}


      <br></br>
      <br></br>
      <br></br>
      {% for gatunek in gatuneks %}
      <div id="gatun">
      <h3 id = "fortitle">{{gatunek.NazwaG}}</h3>
          
          
          <div id = gatundiss>
          {% for utwor in utwors %}
          
          {% if gatunek == utwor.gatunek %}

          
        
          <img src = {{utwor.imgurl}}  style="width:128px;height:128px";></img>
          <h2><a href="">{{ utwor.title }}</a></h2>
          <p>Autor: {{ utwor.author }}</p>
          <p>Created: {{ utwor.created_date }}</p>
          {% if utwor.song %}
          <button href "a" type="button" class="playSong" onclick="playSong('{{ utwor.song.url }}')">Graj</button>
          
          {% endif %}
          <div></div>
          {% endif %}

          {% endfor %}
          </div>

      </div><br></br>
      {% endfor %}

      
      <div id="audioContainer">
        <p><audio src="" id="audioPlayer" controls="controls">Can't play</audio>
        </p>           



      </div>
    </ul>


  </div>
{% endblock content %}
