{% extends 'Comment/base.html' %}

{% block title %}Epsilon Stream{% endblock title %}

{% block content %}
  <div>
  {% if user.is_authenticated %}
<h1>Witaj {{ user.username }}!</h1>
{% else %}

{% endif %}


    <ul>
    <div id="lista">
      {% for utwor in utwors %}
      	<div id = "diss">
          <img src = {{utwor.imgurl}}  style="width:128px;height:128px";></img>
          <h2><a href="">{{ utwor.title }}</a></h2>
          <p>Autor: {{ utwor.author }}</p>
          <p>Created: {{ utwor.created_date }}</p>
          {% if utwor.song %}
          <button href "a" type="button" class="playSong" onclick="playSong('{{ utwor.song.url }}')">Graj</button>
          </div>
          {% endif %}
      {% endfor %}
      </div>
      <div id="audioContainer">
        <p><audio src="" id="audioPlayer" controls="controls">Can't play</audio>
        </p>           



      </div>
    </ul>


  </div>
{% endblock content %}
