{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
    
{% block content %}

<!DOCTYPE html>
<div class="thumbnail formt" id="logowanie">
    {% if registered %}
        <strong>Dzięki za rejestrację!</strong>
        <a href="/logowanie">Return to the homepage.</a><br />
    {% else %}
        <div class="page-header" style="margin-top:5px;">
            <h1>Rejestracja</h1>
        </div>
        <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div  style="margin-left: auto;margin-right: auto; max-width: 400px;">
                    <label for="login-input" style="margin-right: 38px;">Login:</label>
                    {{user_form.username}}
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <div  style="margin-left: auto;margin-right: auto; max-width: 400px;">
                    <label for="password-input" style="margin-right: 38px;">Hasło:</label>
                    {{user_form.password}}
                </div>
            </div>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                <div  style="margin-left: auto;margin-right: auto; max-width: 400px;">
                    <label for="password-input">Podaj email:</label>
                    {{user_form.email}}
                </div>
            </div>

            <div  style="margin-left: auto;margin-right: auto; max-width: 372px;">
                <button type="submit" class="btn btn-default" style="float:right;">Zarejestruj się</button>
                <div style="clear:both"></div>
            </div>
        </form>
    {% endif %}
</div>
            
{% endblock content %}
