{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
    
{% block content %}

<!DOCTYPE html>
<html>

    <head>
        <title>Register</title>
    </head>

    <body>
        <h1>Register</h1>

        {% if registered %}
        <strong>Dzięki za rejestrację!</strong>
        <a href="/logowanie">Return to the homepage.</a><br />
        {% else %}
        <strong>Zarejestruj się tutaj!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">
            <dir>
            {% csrf_token %}
            <dir><h4>Podaj nazwę użytkownika:</h4>{{user_form.username}}</dir>
            <dir id="txtNewPassword"><h4>Podaj hasło :</h4>{{user_form.password}}</dir>
            <dir id="txtNewPasswordPrim"><h4>Podaj hasło ponownie:</h4>{{user_form.password}}</dir>
            <dir ><h4>Podaj email:</h4>{{user_form.email}}</dir>
            {% if txtNewPassword == txtNewPasswordPrim %}
            
            <input type="submit" name="submit" value="Register" />
            {%else%}
            <h4>Hasła się nie zgadzają<h4>
            {%endif%}

        </form>
        {% endif %}
    </body>

</html>

{% endblock content %}