{% extends 'Comment/base.html' %}

{% block title %}Ekran Logowania{% endblock title %}
	
{% block content %}
  <title>Utwor</title>


  <body>
        
        <h2><p >{{ utwor.tytul }}</p></h2>

      	<div id = "diss">
          <img src = {{utwor.imgurl}}  style="width:128px;height:128px";></img>

          

          <p name = 'autor'>Autor: {{ utwor.author }}</p>
          <p>Created: {{ utwor.created_date }}</p>
          {% if utwor.song %}
            <button  type="button" class="playSong" onclick="playSong('{{ utwor.song.url }}')">Graj</button>
            </div>
          {% endif %}

  </body>


    


{% endblock content %}