{% extends 'Comment/base.html' %}

{% block title %}Utwor{% endblock title %}
	
{% block content %}

<div id=single-song-page>
  <div class="row">
    <div class="col-md-8" style="width: 895px;">
      <div class="thumbnail" id="main-song">
        <div id="utwor">
          <div class="column" id="pic">
            <div id="img-cover">
              <img src={{utwor.imgurl}}>
            </div>
          </div>
          <div class="column" id="single-song-caption">
            <div class="caption">
              <div class="page-header">
                <h4>{{utwor.title}}</h4>
              </div>
              <p name='autor'>Autor: {{ utwor.author }}<br />
              Genre: {{ utwor.gatunek }}<br />
              Created: {{ utwor.created_date }}</p>
            </div>
          </div>
          <div style="clear:both;"></div>
          {% if utwor.song %}
            <audio controls="controls">
              <source src="{{ utwor.song.url }}" type="audio/mp3">
            </audio>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      {% for utworg in utwory %}
        <div class="row">
          <div class="col" onclick="location.href='/utwor/{{utworg.id}}';">
            <div class="thumbnail" id="songs-in-genre">
              <div id="utwor">
                <div class="column">
                  <img src={{utworg.imgurl}} style="width:128px;height:128px;">
                </div>
                <div class="column">
                  <div class="caption">
                    <div class="page-header">
                      <h4>{{utworg.title}}</h4>
                    </div>
                    <p name='autor'>Autor: {{ utworg.author }}<br />
                    Created: {{ utworg.created_date }}</p>
                  </div>
                </div>
                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}