{% extends 'Comment/base.html' %}

{% block title %}Utwor{% endblock title %}
	
{% block content %}

<h2><p >{{ utwor.tytul }}</p></h2>

<div id = "diss">
  <img src = {{utwor.imgurl}}  style="width:128px;height:128px";>
  <p name = 'autor'>Autor: {{ utwor.author }}</p>
  <p>Created: {{ utwor.created_date }}</p>
  {% if utwor.song %}
    <audio autoplay="autoplay" controls="controls">
      <source src="{{ utwor.song.url }}" type="audio/mp3">
    </audio>
  {% endif %}
  <form id="doutworu" method="get" action="/dodaj">
          <button  type="submit" name = 'title' value="{{ utwor }}">Dodaj do listy</button></form>
          </div>
</div>

{% endblock content %}