#header {
    width: 100%;
    height: 120px;

    padding-top: 30px;
}

#header h1 {
    text-align: center;
}

#header a {
    text-decoration: none;
    text-shadow: darkgrey;

    font-size: 40px;

    color: black;
}
